* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: Inter;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #1c4255;
}

.header {
  height: 40px;
  padding: 0 24px;
  background-color: #012030;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.header-logo {
  color: #45c4b0;
}

.form {
  margin-top: 64px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.form h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.form input {
  height: 40px;
  border-radius: 4;
  padding: 0 12px;
  color: #012030;
  margin-bottom: 24px;
}

.button {
  height: 40px;
  border-radius: 4px;
  padding: 0 12px;
  color: #012030;
  background-color: #7545c4;
  color: #fff;
  border: none;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: #675688;
}
.button:disabled {
  background-color: #755f9a;
  cursor: not-allowed;
}

.hidden {
  display: none !important;
}

.container-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000090;
  padding: 0 24px;
}

.modal {
  width: 100%;
  padding: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal svg {
  margin-bottom: 24px;
}

.modal .button {
  margin: 24px 0 0 0;
  width: 100%;
}
.modal span {
  font-size: 36px;
  font-weight: 700;
  color: #012030;
  text-align: center;
}

.modal p {
  font-size: 24px;
  text-align: center;
  color: #012030;
}

.game {
  margin-top: 64px;
  padding: 0 24px;
}

.game p {
  font-size: 18px;
  font-weight: 600;
}

.game #currentPlayer {
  font-size: 18px;
  font-weight: 400;
}

.container-spaces {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  grid-template-columns: repeat(3, 80px);
  columns: 3;
  margin-top: 64px;
}

.space {
  width: 80px;
  height: 80px;
  border: none;
  background-color: #fff;
  color: #012030;
  cursor: pointer;
  font-size: 32px;
  transition: background-color 0.5s ease;
}

.gameHover {
  background-color: #ed4f4f;
  color: #fff;
}

.isWinn {
  background-color: #88f9d4;
}

.container-simbol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  gap: 12px;
}

.simbol {
  background-color: #d9d9d9;
}

.simbol:hover {
  background-color: #675688;
}

.selected {
  background-color: #7545c4;
  color: #fff;
}
